.DrumMachine {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr repeat(3, 2fr);
    gap: 2px;
    width: 96%;
    align-items: center;
    margin: 0 auto;
    background-color: #03071e3a;
    /* background: rgba(255, 255, 255, 0.28); */
}

#display {
    grid-column: 1 / -1;
    background: rgba(255, 255, 255, 0.28);
    border-radius: 2px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.8px);
    -webkit-backdrop-filter: blur(12.8px);
    color: #9eb04b;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.drum-pad {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 2rem;
    color: #dddddd;
    text-shadow: 2px 2px #000000;
}

#Heater-1 {
    background-color: #FFBA08;
}

#Heater-2 {
    background-color: #FAA307;
}


#Heater-3 {
    background-color: #F48C06;
}

#Heater-4 {
    background-color: #E85D04;
}

#Clap {
    background-color: #DC2F02;
} 

#Open-HH {
    background-color: #D00000;
}

#Kick-n-Hat {
    background-color: #9D0208;
}

#Kick {
    background-color: #6A040F;
}

#Closed-HH {
    background-color: #370617;
}


/* 
 */